<div class="modal" *ngIf="paymentMethods.length > 0">
    <div class="modal-content">
      <button class="close-btn" (click)="closeModal()">X</button>
      
      <h2>Select Payment Method</h2>
      
      <div *ngFor="let paymentMethod of paymentMethods">
        <label>
          <input type="radio" name="paymentMethod" (change)="onSelectPaymentMethod(paymentMethod)" [checked]="selectedMethod === paymentMethod" />
          {{ paymentMethod.name }}
        </label>
      </div>
  
      <button (click)="onDone()">Done</button>
    </div>
  </div>